<div class="text-center">
	<h1>お気に入り一覧</h1>
	<table>
		<% @bookmarks.each do |bookmark| %>
			<% post = bookmark.post %>
			<tr>
			   <h3>Before After画像</h3>
			</tr>

			<tr>
				<%= attachment_image_tag(post, :post_image, size:"200x200", fallback: "no_image.jpg") %>
			</tr>
			<tr>
				<%= attachment_image_tag(post, :after_image, size:"200x200", fallback: "no_image.jpg") %>
			</tr>
			<br>
		    <tr>

				<%= link_to post.user.last_name, user_path(post.user) %>
				<%= link_to post.user.first_name, user_path(post.user) %>
			</tr>

			<tr>
				<h3>使用薬剤メーカー</h3>
			</tr>
			<tr>
				<%= post.maker_janru_id %>
			</tr>

			<tr>
				<h3>色味</h3>
			</tr>
			<tr>
				<%= post.color_janru_id %>
			</tr>

			<tr>
				<h3>投稿者名</h3>
			</tr>
			<tr>
				<%= post.name %>
			</tr>

			<tr>
				<h3>配合・施術の説明</h3>
			</tr>

			<tr>
				<%= post.option %>
			</tr>

			<tr>
				<% if post.favorited_by?(current_user) %>
					<li>
					    <%= link_to post_desfavorites_path(post_id: post.id , redirect_id: 0), method: :delete do %>
					      <i  class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></i>
					      <%= post.favorites.count %>
					    <% end %>
					</li>
				<% else %>
					<li>
					    <%= link_to post_createfavorites_path(post_id: post.id, redirect_id: 0), method: :post do %>
					    <i class="glyphicon glyphicon-heart" aria-hidden="true"></i>
					    <%= post.favorites.count %>

					    <% end %>
					</li>
				<% end %>
			</tr>
			<tr>
				<%= link_to "お気に入りから削除", post_desbookmarks_path(post.id), method: :delete, class: "btn btn-danger" %>
			</tr>
		<% end %>
	</table>
</div>


