


  <div class="text-center">
    <%= form_for @message, :url => message_done_path, method: :get do |f| %>
        <div>
          <h2>メッセージ確認</h2>
          <div>
            <strong>名前</strong>
              <p>
                <%= f.hidden_field :name %>
                <%= @message.name %>
              </p>
          </div>
          <div>
            <strong>メールアドレス</strong>
              <p>
                <%= f.hidden_field :email %>
                <%= @message.email %>
              </p>
          </div>
          <div>
            <strong>内容</strong>
              <p>
                <%= f.hidden_field :content %>
                <%= simple_format(@message.content) %>
              </p>
          </div>
          <br>
            <%= f.submit '戻る', name: 'back', class: "btn btn-default"%>
            <%= f.submit '送信する', class: "btn btn-info" %>
        </div>
    <% end %>
  </div>