<h1>マイページ</h1>

<table class="table">
	<tr>
		<th>
			<%= attachment_image_tag(@user, :image, :fill, 100, 100, fallback: "no_image.jpg") %>
		</th>
	</tr>

	<tr>
		<th>
			<%= @user.first_name %>  <%= @user.last_name %>
		</th>
	</tr>

	<tr>
		<th><h3>得意な技術</h3></th>
		<th><%= @user.forte %></th>
	</tr>

	<tr>
		<th><h3>好きなメーカー</h3></th>
		<th><%= @user.like_maker %></th>
	</tr>

	<tr>
		<th><h3>プロフィール</h3></th>
		<th><%= @user.introduction %></th>
	</tr>
</table>
















<div>
	<%= link_to "投稿ページへ", new_post_path %>
</div>

<div>
	<%= link_to"お気に入り一覧", bookmarks_path %>
</div>

<div>
	<%= link_to "マイページへ",user_path %>
</div>

<div>
	<%= link_to "自分の投稿一覧", posts_path %>
</div>
