<h1>マイページ</h1>

<table class="table">
	<tr>
		<%= attachment_image_tag(@user, :image, :fill, 100, 100, fallback: "no_image.jpg") %>
	</tr>

	<tr>
		<%= @user.first_name %>  <%= @user.last_name %>
	</tr>

	<tr>
		<h3>得意な技術</h3>
	</tr>

	<tr>
		<%= @user.forte %>
	</tr>

	<tr>
		<h3>好きなメーカー</h3>
	</tr>

	<tr>
		<%= @user.like_maker %>
	</tr>

	<tr>
		<h3>プロフィール</h3>
	</tr>

	<tr>
		<%= @user.introduction %>
	</tr>
</table>

<div>
	<%= link_to "投稿ページへ", new_post_path %>
</div>

<div>
	<%= link_to "お気に入り一覧ページへ", bookmarks_path %>
</div>

<div>
	<%= link_to "マイページの編集をする", edit_user_path %>
</div>

<div>
	<%= link_to "投稿一覧へ", posts_path %>
</div>
