<div class="usercolor">
	<div class="text-center">

			<h1 class="h1">マイページ</h1>

			<table class="table table-bordered">
				<tr>
					<%= attachment_image_tag(@user, :image,  size:"100x100", fallback: "no_image.jpg") %>
				</tr>
				<br>
				<tr>
					<%= @user.first_name %>  <%= @user.last_name %>
				</tr>

				<tr>
					<h3>得意な技術</h3>
				</tr>

				<tr>
					<%= @user.forte %>
				</tr>

				<tr>
					<h3>好きなメーカー</h3>
				</tr>

				<tr>
					<%= @user.like_maker %>
				</tr>

				<tr>
					<h3>プロフィール</h3>
				</tr>

				<tr>
					<%= @user.introduction %>
				</tr>
			</table>
			<%if  @user ==current_user || current_user.admin?  %>
				<div>
						<h4><%= link_to"お問い合わせはこちら", message_index_path, class: "btn btn-danger  glyphicon glyphicon-envelope" %></h4>
				</div>
			<% end %>


			<h1 class="h1">自分の投稿一覧</h1>


			<table class="table table-bordered">
				<% @post.each do |post| %>
					<tr>

						<td>
							<%= attachment_image_tag(post, :after_image, size:"150x150", fallback: "no_image.jpg") %>
						</td>
						<td>
							<%= post.name %>
						</td>

						<td>
							<%=	post.maker_janru_id %>
						</td>

						<td>
							<%= post.color_janru_id %>
						</td>

						<td>
							<p>もらったいいね<i  class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></i>
							<%= post.favorites.count %></p>
						</td>


						<td>
							<%= link_to "この投稿詳細へ", post_path(post), class: "btn btn-primary" %>
						</td>
					</tr>
				<% end %>
			</table>
			<div>
				<%= paginate @post %>
			</div>


			<div class= col-xs-3>
				<%= link_to "投稿ページへ", new_post_path , class: "btn btn-default glyphicon glyphicon-pencil" %>
			</div>

			<div class= col-xs-3>
				<%= link_to "お気に入り一覧ページへ", bookmarks_path, class: "glyphicon glyphicon-paperclip btn btn-default"%>
			</div>
			<div class= col-xs-3>
				<%= link_to "全ての投稿一覧へ", posts_path, class: "btn btn-default" %>
			</div>
            <%if  @user ==current_user || current_user.admin?  %>

			<div class= col-xs-3>
				<%= link_to "マイページの編集をする", edit_user_path,  class: "btn btn-default" %>
			</div>

			<% end %>


	</div>
</div>