




<h1>投稿内容の編集</h1>
<div>
	<%= form_for(@post) do |f| %>
		 <div>
			<label><h3>Before After画像(ブリーチを使用した場合はブリーチ後の画像もお願いします)</h3></label>
			<%= f.attachment_field :post_image %>
		 </div>

		 <div>
		 	<label><h3>使用薬剤メーカー</h3></label>
		 	<%= f.select :maker, [["シュワルツコフ",1], ["資生堂",2], ["ミルボン",3], ["モルトベーネ",4], ["ロレアル",5], ["hoyu",6], ["ルベル",7], ["ウェラ,"8], ["マニパニ",9], ["その他",10] ], prompt: "使用メーカーをを選びください。" %>

		 </div>



		 <div>
		 	<label><h3>色味</h3></label>
		 	<%= f.select :color, [["赤系",1], ["ピンク系",2], ["オレンジ系",3], ["アッシュ系",4], ["マット系",5], ["パープル系",6], ["ベージュ系",7], ["シルバー・グレー・モノトーン系",8], ["ホワイト系",9], ["その他",10] ], prompt: "色味を選択して下さい。" %>

		 </div>

		 <div>
		 	<label><h3>投稿者名</h3></label>
		 	<%= f.text_field :name %>
		 <div>

		 <div>
		 	<label><h3>配合・施術の説明</h3></label>
		 	<%= f.text_area :option %>
		 </div>

		 <div>
		 	<%= f.sumit "更新する"　%>
		 </div>

	<% end %>
</div>
