<h1>投稿一覧</h1>

<table>
	<% @posts.each do |post| %>
		<tr>
			<td>
				<%= post.name %>
			<td>
				<%= attachment_image_tag(post, :post_image, :fill, 150, 150, fallback: "no_image.jpg") %>
			</td>

			<td>
				<%=	post.maker %>
			</td>

			<td>
				<%= post.color %>
			</td>






			<td>
				<%= link_to "この投稿詳細へ", post_path(post) %>
			</td>
		</tr>
	<% end %>



</table>




